frameworks/runtime-src/proj.android/bin/*
frameworks/runtime-src/proj.android/assets/*
frameworks/runtime-src/proj.android/obj/*
frameworks/runtime-src/proj.android/gen/*
runtime/android/*
runtime/mac/*
frameworks/cocos2d-x/cocos/platform/android/java/bin/*
frameworks/cocos2d-x/cocos/platform/android/java/gen/*
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
